@import "../Global.css";

.contact-us {
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: var(--color-green-light);
    border-top: 1px solid var(--color-gray);
    padding: 8rem 15rem 6rem;
}

    .contact-data {
        display: flex;
        width: 57.5%;
        flex-direction: column;
        height: auto;
    }

        .contact-data h1 {
            font-size: 35px;
            font-weight: 600;
        }

        .contact-data p {
            width: 75%;
            font-size: 16px;
            font-weight: 400;
            margin: 1rem 0 2rem;
        }

        .contact-data h2 {
            font-size: 17px;
            font-weight: 600;
        }

        .contact-data h3 {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 1.5rem;
        }

        .contact-data-icons {
            display: flex;
            width: 100%;
            height: auto;
        }

            .contact-data-icons a {
                display: flex;
                height: auto;
            }
            
                .contact-data-icons a svg{
                    display: flex;
                    width: 28px;
                    height: 28px;
                    color: var(--color-gray) !important;
                    margin-right: .5rem;
                    transition: .25s ease-in-out;
                }

                .contact-data-icons a svg:hover {
                    color: var(--color-green) !important;
                    transition: .25s ease-in;
                }

    .contact-form {
        display: flex;
        width: 42.5%;
        flex-direction: column;
        height: auto;
    }

        .contact-form h1 {
            font-size: 28px;
            font-weight: 600;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            margin: .75rem 0 1rem;
        }

            .form-group label {
                font-size: 16.5px;
                font-weight: 600;
                margin-bottom: .5rem;
            }
            
            .form-group input,
            .form-group textarea {
                display: flex;
                width: 100%;
                height: auto;
                padding: 11px 1rem 11px;
                border: none;
                border-bottom: 2px solid var(--color-green);
                font-size: 15px;
                font-family: "Poppins", serif;
                outline: none;
                transition: .25s ease-in-out;
            }

            .form-group input:focus,
            .form-group textarea:focus {
                border-bottom: 2px solid var(--color-gray);
                transition: .25s ease-in;
            }

            .form-group textarea {
                field-sizing: content;
                min-height: 100px;
            }


            .btn-submit {
                display: flex;
                width: 100%;
                height: auto;
                padding: 14px 1rem 14px;
                border: none;
                border-radius: 8px;
                background-color: var(--color-green);
                color: var(--color-white);
                font-size: 16px;
                font-weight: 500;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: .25s ease-in-out;
                text-align: center;
                margin-top: 1rem;
            }

/* Responsive 1440px */
@media screen and (max-width: 1440px) {
    .contact-us {
        padding: 8rem 10rem 6rem;
    }

    .contact-data h1 {
        font-size: 28px;
    }

    .contact-data p,
    .contact-data h3 {
        font-size: 14.5px;
    }

    .contact-data h3 {
        margin-top: 3px;
    }
    .contact-data h2 {
        font-size: 16px;
    }

    .contact-data-icons a svg  {
        width: 24px;
        height: 24px;
    }

    .contact-form h1 {
        font-size: 22px;
    }

    .form-group label {
        font-size: 15px;
    }

    .form-group input,
    .form-group textarea {
        font-size: 14px;
        padding: 10px 1rem 10px;
    }

    .btn-submit {
        font-size: 14px;
    }
}

/* Responsive 1024px */
@media screen and (max-width: 1024px) {
    .contact-us {
        padding: 6rem 0 6rem;
        flex-direction: column;
        gap: 5rem;
        align-items: center;
    }

    .contact-data,
    .contact-form {
        width: 70%;
    }
    
    .contact-data,
    .contact-data-icons {
        text-align: center;
        align-items: center;
    }

    .contact-data-icons {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: .75rem;
    }

    .contact-data h1 {
        font-size: 25px;
    }

    .contact-data p {
        width: 80%;
    }

    .contact-data h3,
    .contact-data p {
        font-size: 14px;
    }

    .contact-form h1 {
        text-align: center;
        margin: 1rem 0 3rem;
    }
}

/* Responsive 768px */
@media screen and (max-width: 768px) {
    .contact-data,
    .contact-form {
        width: 75%;
    }
}

/* Responsive 425px */
@media screen and (max-width: 425px) {
    .contact-data,
    .contact-form {
        width: 80%;
    }
}